$padding: 1rem;

:root {
    --primary-color: #e8f3d6;
    --secondary-color: #ffdca9;
    --accent-color: #faab78;

    --padding: #{$padding};
}

.cookieconsent h3 {
    margin-top: 0;
}

.cookieconsent {
    box-sizing: border-box;
}

.cookieconsent {
    position: fixed;
    padding: calc(2 * var(--padding));
    display: flex;
    justify-content: stretch;
}
.cookieconsent__container {
    display: flex;
    justify-content: stretch;
    width: calc(100% - $padding * 2);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem #00000026 !important;
    padding: var(--padding);
    overflow: scroll;
    flex-direction: column;
}

.cookieconsent__header {
    padding: var(--padding);
}

.cookieconsent__position--right {
    max-width: 100%;
    width: 400px;
    height: 100vh;
    top: 0;
    right: 0;
}

.cookieconsent__position--bottom {
    width: 100vw;
    bottom: 0;
    left: 0;
}

.cookieconsent__form__category {
    margin-bottom: 3rem;
}

.cookieconsent__form__category__heading {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    border-bottom: 1px solid black;
}

.cookieconsent__form__category__details {
    padding: var(--padding);
}

.cookieconsent__form__buttons {    
    padding: var(--padding);
    button {
        background: none;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        border: 0;
        padding: 15px 30px;
        background-color: #7b7b7b;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
    }
}